<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=2, shrink-to-fit=no">
    <title>UoL Micro Blogging Tool</title>

     <!-- Bootstrap library path -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"> 
</head>

<body>

   
    <div class="container">
        <!-- Navigation Bar --> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">UoL Micro Blogging Tool</a>
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="/user/articles">Author's Page</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/publishes"> Reader's Page </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/user/about">About </a>
                </li>

            </ul>
        </nav>