<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Author">Author</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="Author" placeholder= "Type Your Name"  maxlength="100" required value="<%= model.Author %>" />
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Title">Title</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="Title" placeholder= "Type Article Title" maxlength="100" required value="<%= model.Title %>" />
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Subtitle">Subtitle</label>
    <div class="col-sm-8">
        <input autofocus class="form-control" name="Subtitle" placeholder= "Type Article Subtitle" maxlength="100" required value="<%= model.Subtitle %>" />
    </div>
</div>
