<%- include("_header") -%>
  
    <br>
       <h1>Welcome to UoL Blogging Tool!</h1>
    <br>

    <p>
        <i>This is a micro blogging tool that allows an Author to create, edit & publish their writings for free.
           They can easily manage their blogs with all the interactive features available. This Micro blogging tool allows
           have the feature that allows an author to use multiple pen-names. They can even chose to save their writings as draft
           or to publish them for readers to read.
        <br> 
           Readers could read the blogs and enjoy engaging with the writings of their favorite authors. 
        </i> 
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>

<%- include("_footer") -%>